{% include header.html %}

	<div class="featured-module">
		<div class="featured-text">
			<h2 class="home title">Desenvolvimento virtualizado fácil.</h2>
			<h3 class="home subtitle">Crie e configure ambientes de desenvolvimento leves, reproduzíveis e portáteis.</h3>
			<a href="http://downloads.vagrantup.com/tags/v1.0.3" class="home get-started">
				<div class="button-text">Baixe Agora</div>
				<div class="download"></div>
			</a>
		</div>
		<div id="dirty-hippie"></div>
	</div>

	<div class="h-module">
		<div class="text-module fleft">
			<h2 class="home heading">Porque o Vagrant Muda Tudo</h2>
			<p class="home paragraph medium">O Vagrant diminui o tempo de configuração de ambientes de desenvolvimento, maximiza a <a href="http://www.12factor.net/dev-prod-parity">paridade dev/prod</a>, e faz com que a desculpa "na minha máquina funciona" seja coisa do passado.</p>

			<p class="home paragraph">Os desenvolvedores não precisam mais se preocupar com a configuração de componentes complicados da infraestrutura. Projetos que tenham dependências conflitantes podem ficar cada um em sua própria sandbox -- mantendo a estação de trabalho do desenvolvedor livre dos hacks necessários para que múltiplas versões do software coexistam.</p>

			<p class="home paragraph">Engenheiros de operação não precisam mais se preocupar com os desenvolvedores tendo uma configuração local diferente da versão em produção. Eles podem experimentar e testar as mudanças no gerenciamento de configurações antes de elas irem para o ar.</p>

			<p class="home paragraph">Ainda não está convencido? Leia mais sobre <a href="/v1/docs/getting-started/why.html">porque o Vagrant foi feito para você</a>.</p>
		</div>

		<div class="company-logos"></div>
	</div>

	<div class="h-module h-last">
		<div class="text-module fleft">
			<h2 class="home heading">Configure Sua Primeira Instância</h2>
			<p class="home paragraph medium">O Vagrant é tão fácil de usar que você pode colocar sua primeira máquina virtual para rodar em apenas 3 simples passos:</p>

			<div class="term">
				<ul>
					<li><span class="deep-blue">$</span> vagrant box add base http://files.vagrantup.com/lucid32.box</li>
					<li><span class="deep-blue">$</span> vagrant init</li>
					<li><span class="deep-blue">$</span> vagrant up</li>
				</ul>
			</div>
		</div>

		<div class="moveon">
			<span>Pronto para seguir em frente?</span>
			<ul>
				<a class="no-underline" href="/v1/docs/getting-started/index.html"><li class="list-button">Começando  <span class="arrow">&rarr;</span></li></a>
				<a class="no-underline" href="/support.html"><li class="list-button">Suporte  <span class="arrow">&rarr;</span></li></a>
			</ul>
		</div>
	</div>

{% include footer.html %}
